IO_LOC "button1" 88;
IO_PORT "button1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "button2" 87;
IO_PORT "button2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led1" 16;
IO_PORT "led1" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led2" 17;
IO_PORT "led2" IO_TYPE=LVCMOS33 DRIVE=8;
